*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}

button{
    border: none;
    cursor: pointer;
    border-radius: 50%;
}
input{
    border: none;
    outline: none;
}

:root{
    --gray-light: #e9edef;
    --gray: #73828b;
    --gray-dark: #2a3942;
    --green-light: #00a884;
    --green: #038368;
    --green-mensagem: #005c4b;
    --green-dark: #0a332c;
    --background-dark-1: #202c33;
    --background-dark-2: #111b21;
    --background-dark-3: #0b141a;
}


body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

header{
    width: 5%;
    height: 100%;
    background-color: var(--background-dark-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
}
header div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header button{
    width: 60%;
    aspect-ratio: 1 / 1;
}

main{
    width: 95%;
    height: 100%;
    display: flex;
}
main section{
    height: 100%;
    display: flex;
    flex-direction: column;
}
main section h2, main section h3, main section p{
    color: var(--gray-light);
}
main section span{
    color: var(--gray);
}
main section div{
    width: 100%;
}
main section input{
    max-height: 100%;
    background-color: transparent;
    color: var(--gray-light);
}
main section input::placeholder{
    color: var(--gray);
}
ion-icon{
    color: var(--gray);
    width: 100%;
    height: 100%;
}

button:has(ion-icon) {
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left{
    width: 0%;
    background-color: var(--background-dark-2);
    transition: 0.6s;
}
#left.chatTotal{
    width: 20%;
}
.top{
    padding: 5px;
    width: 100%;
    height: 15%;
}

#pesquisa{
    height: 40%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--gray-dark);
    border-radius: 5px;
}
#pesquisa input{
    height: 100%;
    flex: 1;
}
#pesquisa button{
    width: 20px;
    height: 20px;
    background-color: transparent;
}

#contatos{
    height: 95%;
    background-color: var(--background-dark-2);
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 1px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--gray) #00000000; 
}
#contatos div.clickContato{
    background-color: var(--gray-dark);
}
#contatos .contato{
    display: flex;
}
#contatos .contato div{
    height: 100%;
}
#contatos .contato .perfil{
    width: 30%;
}
#contatos .contato .perfil img{
    width: 100%;
    border-radius: 50%;
}
#contatos .contato:hover{
    background-color: var(--gray-dark);
}

#right{
    flex: 1;
    background-color: var(--background-dark-3);
}
#right .top{
    background-color: var(--background-dark-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
}
#right .top div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#right .top .contato{
    width: auto;
    padding: 4px;
    gap: 10px;
}
#right .top .contato img{
    height: 100%;
    border-radius: 50%;
}
#right .top .confg{
    width: 20%;
    padding: 4px;
}
#right .top .confg button{
    height: 70%;
    aspect-ratio: 1 / 1;
}
#conversa{
    height: 92%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-inline: 20px;
    gap: 2px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--gray) #00000000;
}

#conversa .linhaMensagem{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
}

#conversa .mensagem{
    padding: 10px 14px;
    width: auto;
    max-width: 75%;
    border-radius: 18px;
    font-size: 14px;
    line-height: 1.4;
    position: relative;
    word-wrap: break-word;
}
#conversa .mensagem span{
    display: block;
    width: 100%;
    text-align: end;
}

#conversa .linhaMensagem .meMensagem {
    align-self: flex-end;
    background-color: var(--green-mensagem);
    border-bottom-right-radius: 1px;
}

#conversa .linhaMensagem .contatoMensagem {
    align-self: flex-start;
    background-color: var(--background-dark-1);
    border-bottom-left-radius: 1px;
}


#envio{
    height: 10%;
    padding: 10px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background-dark-1);
}
#envio div{
    height: 100%;
    flex: 1;
    padding: 4px;
    background-color: var(--gray-dark);
    border-radius: 6px;
    display: flex;
    align-items: center;

}
#envio input{
    height: 100%;
    width: 100%;
}
#envio button{
    height: 100%;
    aspect-ratio: 1 / 1;
}